<div class="searchLine">
  <form [formGroup]="searchGroup" class="column">
    <h3 class="row">
      <img src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/30/000000/external-filter-interface-kiranshastry-solid-kiranshastry-1.png"/>
      Recherche par filtrage
    </h3>
    <div class="searchDiv">
        <input matInput type="text" formControlName="firstnameFilter" placeholder="Prénom">
    </div>
    <div class="searchDiv">
      <input matInput type="text" formControlName="lastnameFilter" placeholder="Nom">
    </div>
  </form>
  <div class="buttonAddUser">
    <button mat-raised-button color="primary" (click)="openAddDialog()"><h4>
      <img src="https://img.icons8.com/material-sharp/35/ffffff/add.png"/>  
      Ajouter un nouvel utilisateur
    </h4></button>
  </div>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let user"> {{user.id}} </td>
    </ng-container>

    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef> Prénom </th>
      <td mat-cell *matCellDef="let user"> {{user.firstname}} </td>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let user"> {{user.lastname}} </td>
    </ng-container>
  
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let user"> {{user.age}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let user">
          <a (click)="openSeeDialog(user)"> <img src="https://img.icons8.com/external-icongeek26-outline-icongeek26/30/000000/external-view-user-interface-icongeek26-outline-icongeek26.png"/></a>
          <a (click)="deleteAssociation(user.id)"> <img src="https://img.icons8.com/dotty/30/000000/delete-forever.png"/></a>
      </td>
  </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>