:host { display :block;min-height: 71vh;}

:host .account {
    display: block;
    padding : 10% 0 ;
    margin : auto
}

:host img,button {
    display: block;
    margin : auto;
}

:host h1, :host h2 {
    text-align: center;
}

//----- Dialog CSS
.mat-dialog-actions {
    display: block;
    margin: auto;
}
.mat-dialog-actions button {
    float: right;
    margin: auto;
}

.mat-dialog-content {
    display: block;
    margin: auto;
}