:host ul {
    position:relative;
    margin-top: 4em;
    margin-bottom: 0;
    width: 100%;
    padding: 0;
    background-color: rgb(228, 228, 228);
}

:host ul {
    margin: auto;
    text-align: center;
}

:host ul li {
    line-height: 10em;
    text-decoration: none;
    display: inline-block;
    margin: auto 1em;
    text-align: center;
    font-size: 18px;
}

:host a {
    text-decoration: none;
    color: black;
}