<h1>Administration des associations</h1>
<h3>Bienvenue sur votre espace personnel de gestion des administrations</h3>
<br>
<h4>Cette application web vous offre plusieurs fonctionnalités ci-dessous listées : </h4>
<ul>
    <li>Accéder à son profil et mettre à jour ses informations.</li>
    <li>Lister les utilisateurs.</li>
    <li>Lister les associations.</li>
    <li>Modifier une association (Impossible à cause du backend).</li>
    <li>Supprimer une association ou un utilisateur.</li>
    <li>Supprimer un utilisateur.</li>
    <li>Rechercher un utilisateur ou une association par son Id ou son nom.</li>
    <li>Ajouter un utilisateur.</li>
    <li>Ajouter une association.</li>
</ul>

<h4>Fonctionnalités à développer :</h4>
<ul>
    <li>Lister les role d'un utilisateur</li>
    <li>Tester l'application</li>
</ul>